{{#let
  (hash
    Select=(
      component (ensure-safe-component @themeInstance.selectComponent)
      options=this.filters
      value=this.filterType
      type="string"
      themeInstance=@themeInstance
    )
  )
as |FloatingFilter|
}}
  {{#if (has-block)}}
    {{yield FloatingFilter}}
  {{else}}
    <this.BsDropdown
      class="filter-wrapper"
      @closeOnMenuClick={{false}}
      as |dd|>
      <div
        {{did-insert this.updateFilterTypeOnInit}}
        class="input-group">
        <input
          aria-label=""
          class="{{@themeInstance.input}}"
          readonly="readonly"
          type="text"
          value={{this.filtersHumanReadable}}/>
        <this.BsButton
          class="clearFilterIcon {{@themeInstance.buttonLink}}"
          @type="secondary"
          disabled={{unless @column.filterUsed "disabled"}}
          @outline={{true}}
          @onClick={{@clearColumnFilter}}>
          <i class={{@themeInstance.clearFilterIcon}}></i>
          <span class="visually-hidden">{{@themeInstance.clearFilterMsg}}</span>
        </this.BsButton>

        <dd.toggle class="btn btn-outline-secondary floating-filter-dropdown-toggle">
          <i class={{this.filterIcon}}></i>
        </dd.toggle>
        {{#if dd.isOpen}}
          <this.BsForm
            class="float-filter-dropdown-menu dropdown-menu dropdown-menu-right show p-2"
            @formLayout="inline"
            @model={{this}}
            as |form|>
            {{#if this.isListFilterType}}
              <div class="row mb-2">
                <div class="col">
                  <input
                    aria-label=""
                    class="{{@themeInstance.input}} filter-list-options"
                    type="text"
                    value={{this.filterForListFilterOptions}}
                    {{on "input" this.updateFilterListFilterOptions}}
                  />
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <this.BsButton
                    class="select-all"
                    @size="sm"
                    @type="secondary"
                    @outline={{true}}
                    @onClick={{this.selectAllListFilterOptions}}>
                    {{this.selectAllListFilterOptionsButtonText}}
                  </this.BsButton>
                  <this.BsButton
                    class="deselect-all"
                    @size="sm"
                    @type="secondary"
                    @outline={{true}}
                    @onClick={{this.deselectAllListFilterOptions}}>
                    {{this.deselectAllListFilterOptionsButtonText}}
                  </this.BsButton>
                </div>
              </div>
              <div class="list-filter-options-wrapper">
                {{#each this.filteredListFilterOptions as |option index|}}
                  <form.element
                    class="checkbox-wrapper"
                    @controlType="checkbox"
                    @label={{option.label}}
                    @property={{concat "filteredListFilterOptions." index ".checked"}} />
                {{/each}}
              </div>
            {{else}}
              <div class="row mb-2">
                <div class="col filter-type">
                  <FloatingFilter.Select
                    @changeValue={{this.updateFilter}}/>
                </div>
              </div>
              <div class="row g-2 mb-2">
                {{#if this.showFirstArgInput}}
                  <div class="col-auto">
                    <input
                      aria-label="First Arg"
                      class="{{@themeInstance.input}} first-arg"
                      type="{{this.argsInputType}}"
                      value="{{this.filterArgsFirst}}"
                      {{on "input" this.setFirstArg}}
                    />
                  </div>
                {{/if}}
                {{#if this.showSecondArgInput}}
                  <div class="col-auto"> - </div>
                  <div class="col-auto">
                    <input
                      aria-label="Second Arg"
                      class="{{@themeInstance.input}} second-arg"
                      type="{{this.argsInputType}}"
                      value="{{this.filterArgsSecond}}"
                      {{on "input" this.setSecondArg}}
                    />
                  </div>
                {{/if}}
              </div>
            {{/if}}
            <div class="row mb-2">
              <div class="col-auto">
                <this.BsButton
                  class="apply-filter"
                  @type="secondary"
                  @outline={{true}}
                  @onClick={{fn this.onUpdateColumnFilter dd.closeDropdown}}>
                  {{this.applyFilterButtonText}}
                </this.BsButton>
                <this.BsButton
                  @type="secondary"
                  @outline={{true}}
                  @onClick={{dd.closeDropdown}}>
                  {{this.closeFilterButtonText}}
                </this.BsButton>
              </div>
            </div>
          </this.BsForm>
        {{/if}}
      </div>
    </this.BsDropdown>
  {{/if}}
{{/let}}